@using FacebookLikeInspinia.ViewModels.Comment
@model IEnumerable<CommentItemViewModel>

@if (Model != null && Model.Any())
{
    <div class="comment-list">
        @foreach (var comment in Model)
        {
            <div class="social-comment"  data-comment-id="@comment.CommentId" data-comment-item-post-id="@comment.PostId">
                <a href="/People/Detail?userId=@comment.UserId" class="pull-left">
                    <img alt="image" src="@comment.Base64ProfileImage">
                </a>
                <div class="media-body">
                    <a href="/People/Detail?userId=@comment.UserId">
                        @comment.CommentedByFullName
                    </a>
                    @comment.Content
                    <br />
                    @if (comment.IsLikedByCurrentUser)
                    {
                        <a  class="small text-success no-hover"><i class="fa fa-thumbs-up"></i> @comment.LikesCount Likes</a>
                    }
                    else
                    {
                        <a class="small text-muted like-action"><i class="fa fa-thumbs-up"></i> <span class="like-action-count">@comment.LikesCount</span> Likes</a>
                    }
                    - <small class="text-muted">@comment.CreatedAt.ToString("dd.MM.yyyy")</small>
                </div>
            </div>
        }
    </div>
}
